.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

#map-container {
  height: 100%;
  width: 100%;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
}

.mapboxgl-popup-content {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}